// fill in styles
@import "../assets/styles/reset";

.App {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #f3f2ef;
}

.top_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.main_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.body_container {
  width: 1200px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.transcription_container {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 40px;
}
