.advert {
  width: 20%;
  box-shadow: 0 8px 6px -6px rgb(0 0 0 / 0.07);
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

  img {
    width: 100%;
    height: auto;
    border-radius: 14px;
  }
}
